<div class="container">
    <div class="main-content">
        <h1 class="about-title"> Über ICS </h1>
        <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nisi. Praesentium eaque nemo qui nulla sequi inventore quam perspiciatis aspernatur, dicta ullam ipsa asperiores excepturi eveniet architecto tempora nobis quis voluptas consequatur delectus quos velit, repellat necessitatibus autem! Qui a itaque hic architecto modi totam aperiam alias cumque ad perferendis?
        </section>
        <div class="rocket-gif"></div>
    </div>
</div>
