.switches {
    display: flex;
    justify-content: center;
}

.question-font {
    font-size: 30px;
    color: var(--font-black);
    flex-basis: 600px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.radio {
    font-size: 35px;
    color: var(--font-black);
    font-family: 'Barlow Semi Condensed'
}





  
  