<div class="register-registration-container">
    <div class="register-registration-form">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
        <i class="fas fa-user-circle fa-2x">Register</i>
        </div>
        <div>
        <p class="title">First Name</p> 
        <label for="firstName"></label>
        <input type="text" formControlName="firstName" id="firstName" required>
        <div  class="error-msg"*ngIf="firstName.invalid && firstName.touched">
            First Name must be at least 5 characters
        </div>
    </div>
    <div>
        <p class="title">Last Name</p> 
        <label for="lastName"></label>
        <input type="text" formControlName="lastName" id="lastName" required>
        <div  class="error-msg" *ngIf="lastName.invalid && lastName.touched">
            Last Name must be at least 5 characters
        </div>
    </div>
        <div>
        <p class="title">Email</p> 
        <label for="email"></label>
        <input type="text" formControlName="email" id="email" required>
        <div  class="error-msg" *ngIf="email.invalid && email.touched">
            Please enter a valid email
        </div>
    </div>
    <div>
        <p class="title">Password</p> 
        <label for="password"></label>
        <input type="password" formControlName="password" id="password" required>
        <div  class="error-msg" *ngIf="password.invalid && password.touched">
            Please enter a valid password
        </div>
    </div>
    <div>
        <button type="submit" [disabled]="myForm.invalid">Create Account</button>
    </div>
    </form>
</div>
</div>
