.register-registration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.register-registration-container form {
    width: 300px;
    height: 450px;
    margin-top: 60px;
    border: solid 1px #232323;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-registration-container form #firstName, 
.register-registration-container form #lastName,
.register-registration-container form #email,
.register-registration-container form #password
   {
    width: 250px;
    height: 25px;
    border: solid 1px white;
    border-radius: 2px;
    margin: 10px 10px 30px 10px;
    box-shadow: 0 0 1px 1px #EF412F;
}

.fas, .fa-user-circle {
    margin-bottom: 35px;
}

.register-registration-container form p {
    margin: 0 auto 8px 25px;
    line-height: 0;
}

form button {
    margin: 0 auto 8px 25px;
    width: 250px;
    height: 30px;
    background-color: tomato;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

form button:hover {
    cursor: pointer;
}