.flex-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: lavender;
    background-image: url(../../../assets/img/skyscraper.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
}

.this, .that {
    line-height: 900px;
    margin: 10px;
    width: 100px;
    background: darkslateblue;
    text-align: center;
    border: solid black 1px;
}

.title {
    margin-top: 11px;
    line-height: 150px;
    width: 1300px;
    background: oldlace;
    color: darkorange;
    font-size: xx-large;
}

.title h2 {
    margin-left: 10px;
}

.this h2, .that h2 {
    color: mintcream;
}

.footer {
    display: flex;
    height: 280px;
    justify-content: space-between;
    background: black;
    color: blanchedalmond;
}

.footer > div {
    width: 200px;
    text-align: left;    
    margin: 35px;
}




