<div class="flex-container">
    <div class="this"><mat-icon>security</mat-icon></div>
    <div class="title"><h2>CSWEBBERS</h2></div>
    <div class="that"><mat-icon>security</mat-icon></div> 
  </div>
  <div class="footer">
    <div><h5>SITEMAP</h5>
      <p>
        Home <br>
        Services <br>
        Technology <br>
        Who we are <br>
        Work with us <br>
        Blog <br>
        Contact us</p>
    </div>
    <div><h5>WHAT WE DO</h5>
      <P>
        Technology Consulting <br>
        Software Development <br>
        Agile Scaling</P>
    </div>
    <div><H5>CONTACT US</H5>
      <P>Example AG<br>
        Examplestreet 111 <br>
        1111 Example <br>
        Email: example@example.com <br>
        Phone: +41 11 111 11 11</P>
    </div> 
  </div>
