<div class="flexbox-sample-cards">
      <div class="first-sample">
            <p>Home</p>
            <p>Services</p>
            <p>Technology</p>
            <p>Who we are</p>
            <p>Work with us</p>
            <p>Blog</p>
        </div>
        <div class="second-sample">
            <p>Home</p>
            <p>Services</p>
            <p>Technology</p>
            <p>Who we are</p>
            <p>Work with us</p>
            <p>Blog</p>
        </div>
    </div>
    <div class="flexbox-event-cards">
        <div class="event">
            <p>Next Event</p>
        </div>
    </div>
    <div class="flexbox-social-cards">
        <div class="contribution">
            <p>
                contribute content!
            </p>
            <div class="btn btn-down">
                <p>contribute</p>
            </div>
        </div>
        <div class="community">
            <p>
                Join our community of developers!
            </p>
            <div class="btn">
                <p>Join</p>
            </div>
        </div> 
        <div class="patron">
            <p>
                donate
            </p>
            <div class="btn btn-down">
                <p>donate</p>
            </div>
        </div>
    </div> 