<div>
<div class="top-section">
  <div class="filler"></div>

    <div class="wrapper">
    <div class="title" data-aos="fade-down" data-aos-duration="2000">
        <div class="diamond-gif"></div>
        Wir machen für Sie Platz im Netz
    </div>
    <div class="get-started" data-aos="fade-down" data-aos-duration="1300">
        Wir übernehmen gerne die Führung. Erfahren Sie Digitalisierung Schritt für Schritt.
        <div>
        <button class="btn" routerLink="/services"> jetzt starten!</button>
        </div>
    </div> 
    </div>
    <div class="img-group"> 
       
    </div>
</div>
<div class="container-bottom">
<div class="bottom-section">
    <div class="introduction-title" 
    data-aos="fade-right"
    data-aos-duration="2500">
       <h1>Wir lieben, was wir tun. Und das zeigt sich in unserer Arbeit.</h1>
    </div>
</div>
<div class="card-container">
    <div class="cards">
        <div class="rellax" data-rellax-speed="6">
            <div class="icon icon1"></div>
            <div class="icon-title">DESIGN</div>
            <div class="card">
              Gestaltung wird zu einem Erlebnis. Zusammen mit unserer Designerin erörtern wir Ihre Bedürfnisse und kreieren exklusives für Sie.
            </div>
          </div>
          <div class="rellax" data-rellax-speed="5">
            <div class="icon icon3"></div>
            <div class="icon-title">NEXT LEVEL</div>
            <div class="card">
              Befördern Sie Ihr Unternehmen auf das nächste Level. Wir digitalisieren Ihr Unternehmen Schritt für Schritt und gewähren Ihnen jederzeit Einblick in die jeweilige Prozessphase.
            </div>
          </div>
          <div class="rellax" data-rellax-speed="4">
            <div class="icon icon2"></div>
            <div class="icon-title">UMSETZUNG</div>
            <div class="card three">
              Lösungen erarbeiten wir zielsicher und mit Ihnen an Bord wird die Reise zum Ziel. Flexibel wie Sie sind auch wir für alle Ihre Wünsche offen und streben nach Perfektion.
            </div>
          </div>
    </div>
  </div>
  <div class="future-cards-container">
    <div class="future-cards">
        <div class="future-card from" data-aos="fade-down" data-aos-duration="1500">
           <div>Woher wir kommen</div>
            Wir sind 2 motivierte Webentwickler aus Zürich mit einem Informatik-Hintergrund
            an der ZHAW in Zürich. Mit der Chemie die stimmte und gleich motiviert,
            entschieden wir uns kurzerhand unsere eigene Agentur zu gründen und unsere
            Leidenschaft mit anderen zu teilen
        </div>
        <div class="future-card where" data-aos="fade-up" data-aos-duration="1500">
            <div>Wohin wir wollen</div>
            In der heutigen Zeit kann sich alles im Handumdrehen (zum Beispiel durch ein Virus) ändern und
            unser aller Leben auf den Kopf stellen. Seien Sie vorbereitet und stellen Sie noch heute
            Ihr Unternehmen oder Ihre Idee ins Netz.
        </div>
    </div>
  </div>
    <div class="register">
    <div>
        <div class="register-icon" data-aos="fade-right" data-aos-duration="1200"></div>
        <div class="register-text" data-aos="fade-left" data-aos-duration="1200">
            Legen Sie noch heute ein kostenloses Konto an und starten Sie Ihr Projekt!
            Bei Fragen stehen wir Ihnen jederzeit zur Verfügung.
        
            <div>
               <button class="btn">Jetzt Registrieren</button>
            </div>
        </div>
    </div>
    </div>
</div>
</div>



