<div class="login-registration-container">
    <div class="login-registration-form">
        <form [formGroup]="myForm" (ngSubmit)="onLoginSubmit()">
        <div class="login-img"></div>
        <div class="err-message-box" [ngStyle]="{'display': flag ? showMessage : hideMessage}">
            <p class="message-text">{{ errorMessage }}</p>
        </div>
           <div>
            <p class="email-title">Email</p> 
            <label for="email"></label>
            <input type="text" formControlName="email" name="email" id="email" required>
            <div class="hint-message" *ngIf="email.invalid && email.touched">
                Bitte geben Sie eine gültige Email an
            </div>
       
        </div>
        <div>
            <p class="password-title">Passwort</p> 
            <label for="password"></label>
            <input type="password" formControlName="password" name="password" id="password" required>
            <div class="hint-message" *ngIf="password.invalid && password.touched">
                Passwort muss mindestens 8 Zeichen lang sein
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="myForm.invalid"> Login </button>
        </div>
        <div>
        <button type="submit" routerLink="/register" (click)="setToFalse()" class="register"> Register </button> 
        </div>
        </form>
    </div>
</div>
