.login-registration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/img/asteroids.jpg);
}

.login-registration-form form .login-img {
    margin: 20px auto 10px;
    height: 70px;
    width: 70px;
    background-image: url(../../../assets/img/login2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.login-registration-form form{
    width: 600px;
    min-height: 450px;
    border: none;
    padding-bottom: 20px;
    border-radius: 40px;
    display: flex;
    border: none;
    background-color:var(--background-white);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-registration-form form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-registration-form form div > p {
    line-height: 0rem;
    padding: 0;
}

.email-title {
    margin-right: 400px;
}

.password-title {
    margin-right: 365px;
}

.password-title, .email-title {
    color: var(--lightgrey);
}


.hint-message {
    color: red;
    font-size: small;
}


.login-registration-form form #email,
.login-registration-form form #password   {
    width: 450px;
    height: 35px;
    border: solid 1px var(--lightgrey);
    border-radius: 2px;
    margin: 5px auto 5px;
}

.err-message-box {
    display: none;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    margin: 0 20px 0;
    border-radius: 5px;
    background-color: rgb(243, 174, 167);
}

.message-text {
    margin: 0;
    padding: 0;
    line-height: 0rem;
    color: rgb(184, 14, 14);
}

.fas, .fa-user-circle {
    text-align: center;
}

form button {
    margin: 10px 10px 30px;
    width: 450px;
    height: 50px;
    background-color: var(--green);
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

form .register {
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--skyblue);
}

form .register:hover {
    transition: all .2s linear;
    background-color: rgba(0, 166, 255, 0.8);
}

form button:hover {
    transition: all 0.3s ease-out;
    background-color: rgb(40, 238, 175);
}

form button:hover {
    cursor: pointer;
}

/* Media Queries **/

@media all and (max-width: 620px){
    .login-registration-form form {
        width: 300px;
    }

    .login-registration-form form #userName, 
    .login-registration-form form #email,
    .login-registration-form form #password {
        width: 250px;
}

.email-title {
    margin-right: 200px;
}

.password-title {
    margin-right: 180px;
}

form button {
    width: 250px;
}

}
