<div class="login-registration-container">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <i class="fas fa-user-circle fa-3x">Login</i>
            <p>Username</p> 
            <label for="userName"></label>
            <input type="text" formControlName="userName" id="userName" required>
            <div *ngIf="userName.invalid && userName.touched">
                what the heck
            </div>
            <p>Email</p> 
            <label for="email"></label>
            <input type="text" formControlName="email" id="email" required>
            <div *ngIf="email.invalid && email.touched">
                water you doin
            </div>
            <p>Password</p> 
            <label for="password"></label>
            <input type="text" formControlName="password" id="password" required>
            <div *ngIf="password.invalid && password.touched">
                    what's wrong with you
            </div>
            <button type="submit" [disabled]="myForm.invalid"> Login </button>
        </form>
</div>