<div class="login-registration-container">
    <div class="login-registration-form">
        <form [formGroup]="myForm" (ngSubmit)="onLoginSubmit()">
            <div>
            <i class="fas fa-user-circle fa-3x"></i>
        </div>
           <div>
            <p class="title">Email</p> 
            <label for="email"></label>
            <input type="text" formControlName="email" id="email" required>
            <div class="error-msg" *ngIf="email.invalid && email.touched">
                Please enter a valid email
            </div>
       
        </div>
        <div>
            <p class="title">Password</p> 
            <label for="password"></label>
            <input type="password" formControlName="password" id="password" required>
            <div class="error-msg" *ngIf="password.invalid && password.touched">
                Please enter a valid password
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="myForm.invalid"> Login </button>
        </div>
        </form>
    </div>
</div>