/* You can add global styles to this file, and also import other style files */



@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --blue: #4169e1;
    --green: #6CFBCE;
    --seablue: #00D5EE;
    --skyblue: #00a6ff;
    --purple: #826AED;
    --lightblue: #C9F0FF;
    --lightcyan: #EAFFFD;
    --cultured: #EFEFF0;
    --lavender: #D5CAD6;
    --background-black: #252525;
    --background-white: #ffffff;
    --font-white: #f5fffa;
    --lightgrey: #696969;
    --gold: #ffd700;    
    --ok-green: #00ff00;
}

* {
    font-family: 'Poppins', 'sans-serif';
}

p {
    font-size: 16px;
}

body { margin: 0; padding: 0; }
