/* You can add global styles to this file, and also import other style files */



@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --blue: #4169e1;
    --green: #6CFBCE;
    --seablue: #00D5EE;
    --skyblue: #00A6FF;
    --background-black: #2e2929;
    --background-white: #ffffff;
    --font-white: #f5fffa;
    --lightgrey: #696969;
    --gold: #ffd700;    
    --ok-green: #00ff00;
}

* {
    font-family: 'Poppins', 'sans-serif';
}

p {
    font-size: 16px;
}

body { margin: 0; }
