<div class="wrapper">
    <div class="growth-monochromatic"></div>
    <div class="wrapper-content">
    <div class="main-content">
    Der ausgerechnete Preis für Ihr Projekt liegt bei rund {{ data }} CHF. Diese Zahl dient Ihnen zur Orientierung. <br> <br>
    Für einen persönlichen Beratungstermin kontaktieren Sie uns bitte <a href="#" style="color: black;">hier.</a>
</div>
<div class="buttons first">
    <button class="button" routerLink="/">Home</button>
</div>
<div class="buttons">
    <button class="button">Meine Projekte</button>
</div>
</div>
</div>