    <div class="flexbox-wrapper">
    <footer class="flexbox-footer">
    <div class="flexbox-footer-sitemap">
        <h5>SITEMAP</h5>
        <p>Home</p>
        <p>Services</p>
        <p>Technology</p>
        <p>Who we are</p>
        <p>Blog</p>
        <p>Contact us</p>
    </div>
    <div class="flexbox-footer-services">
        <h5>WHAT WE DO</h5>
        <p>Technology Consulting</p>
        <p>Software Development</p>
        <p>Agile Scaling</p>
    </div>
    <div class="flexbox-footer-contact">
        <H5>CONTACT US</H5>
        <p>Example AG</p>
        <p>Examplestreet 111</p>
        <p> 1111 Example</p>
        <p>Email: example@example.com</p>
        <p>Phone: +41 11 111 11 11</p>
    </div> 
    <div class="flexbox-footer-line"></div>
<div class="flexbox-footer-social-media">
    <a href="" class="twitter"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="" class="instagram"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="" class="pinterest"><i class="fab fa-pinterest fa-2x"></i></a>
</div>
</footer>
</div>