    <div class="flexbox-wrapper">
    <footer class="flexbox-footer">
    <div class="flexbox-footer-sitemap">
        <h5>SITEMAP</h5>
        <p routerLink="/front">Home</p>
        <p routerLink="/services">Services</p>
        <p routerLink="/about">Über uns</p>
        <p routerLink=#>Kontakt</p>
    </div>
    <div class="flexbox-footer-services">
        <h5>WAS WIR TUN</h5>
        <p>Technology Consulting</p>
        <p>Software Development</p>
        <p>Agile Scaling</p>
    </div>
    <div class="flexbox-footer-contact">
        <H5>KONTAKT</H5>
        <p>Hans Muster</p>
        <p>Musterstrasse 111</p>
        <p> 1111 Muster</p>
        <p>Email: example@example.com</p>
        <p>Mobile: +41 11 111 11 11</p>
    </div> 
    <div class="flexbox-footer-line"></div>
<div class="flexbox-footer-social-media">
    <a href="" class="twitter"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="" class="instagram"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="" class="pinterest"><i class="fab fa-pinterest fa-2x"></i></a>
</div>
</footer>
</div>