<div>
  <div class="flexbox-header">
    <div class="link-box">
      <div class="link home" routerLink="/front"><div class="ics"></div><div>ICS</div></div>
      <div class="link" routerLink="/about">About us</div>
      <div class="link" routerLink="/services">Services</div>
      <div class="link" routerLink="/co
      ntact">Contact us</div>
    </div>
    <div class="myproject" (click)="checkAuthRoute()">
      myproject
    </div> 
      <input type="checkbox" id="hamburger-box" class="toggler">
      <label class="hamburger" for="hamburger-box"><div></div></label>
      <ul class="hamburger-menu">
        <li routerLink="/about">about us</li>
        <li routerLink="contact">contact us</li>
        <li routerLink="/services">services</li>
        <li routerLink="/myproject">login</li>
      </ul>
  </div>
</div>