  <div class="service-container">
    <div class="service-background">
      <div class="service-sliders">
        <div class="service-img" data-aos="fade-right" data-aos-duration="1100">
          <img src="../../../assets/img/froala-design-blocks/imgs/draws/code.svg" alt="developer" width="500px" height="500px">
        </div>
        <div class="service-text" data-aos="fade-left" data-aos-duration="1100">
          Modernses Design trifft auf individuelle Softwarelösungen
        </div>
      </div>
    </div>
</div>
  <div class="cards">
    <div>
    <div class="icon icon1"></div>
    <div class="card">
      <b class="change-font">Gestaltung</b><br> wird zu einem Erlebnis. Zusammen mit unserer Designerin erörtern wir Ihre Bedürfnisse und kreieren exklusives für Sie.
    </div>
  </div>
  <div>
    <div class="icon icon2"></div>
    <div class="card">
      <b class="change-font">Lösungen</b><br> erarbeiten wir zielsicher und mit Ihnen an Bord wird die Reise zum Ziel. Flexibel wie Sie sind auch wir für alle Ihre Wünsche offen und streben nach Perfektion.
    </div>
  </div>
  <div>
    <div class="icon icon3"></div>
    <div class="card">
      <b class="change-font">Befördern</b><br> Sie Ihr Unternehmen auf das nächste Level. Wir digitalisieren Ihr Unternehmen Schritt für Schritt und gewähren Ihnen jederzeit Einblick in die jeweilige Prozessphase.
    </div>
  </div>
  </div>
  <div class="survey-content">
    <div class="survey-filler"></div>
      <div class="survey">
        <div>Wir geben Ihnen Starthilfe</div>
          Werden Sie sich jetzt schon bewusst, in welche Kategorie Ihr Projekt gehört. Wir helfen Ihnen mit ein paar Fragen den Kostenpunkt und den Umfang Ihres 
          Projektes richtig einzuschätzen. <br><br>
          <button class="button" routerLink="/evaluation">Los!</button>
      </div>
</div>
  