<div>
    <div class="sub-header"></div>
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>devices </mat-icon>&nbsp;&nbsp; Appealing and Responsive Website
      </ng-template>
      <div class="service-description leftaligned">
      <h2>Capture the attention of the visitor...</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vol
          uptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occae
          cat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
          id est laborum."</p> <br> <br><br><br><br>
      </div>
      <div class="leftaligned">
          <mat-icon>wb_incandescent</mat-icon>
        <h4> find out by answering a few questions what costs you would have to face for <br> your personal project - totally nonbinding.</h4>
        <br>
        <button type="button" mat-raised-button color="primary" (click)="goToEvaluation()">Start evaluation!</button>
        </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>whatshot </mat-icon>&nbsp; Effective and Interactive Webapplication
      </ng-template>
      <div class="service-description leftaligned">
      <h2>Interact in a highly efficient way...</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vol
        uptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occae
        cat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
        id est laborum."</p><br> <br><br><br><br>
    </div>
    <div class="leftaligned">
        <mat-icon>wb_incandescent</mat-icon>
        <h4> find out by answering a few questions what costs you would have to face for <br> your personal project - totally nonbinding.</h4>
        <br>
        <button type="button" mat-raised-button color="primary" (click)="goToEvaluation()">Start evaluation!</button>
    </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>public </mat-icon>&nbsp; Scalable and in Depth Business Webapplication
        </ng-template>
        <div class="service-description leftaligned">
        <h2>go international...</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vol
            uptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occae
            cat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
            id est laborum."</p><br> <br><br><br><br>
        </div>
        <div class="leftaligned">
            <mat-icon>wb_incandescent</mat-icon>
            <h4> find out by answering a few questions what costs you would have to face for <br> your personal project - totally nonbinding.</h4>
            <br>
            <button type="button" mat-raised-button color="primary" (click)="goToEvaluation()">Start evaluation!</button>
          </div>
      </mat-tab>
  </mat-tab-group>
</div>